.from img {
  height: 55px;
  width: 55px;
}

#messages {
  font-size: 55px;

  margin-right: 55px;
  margin-top: 55px;

  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
